/* ProductCard.css */
.product-card {
  width: 100%;
  max-width: 300px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.btn-add {
  padding: 9px 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #1e7e34;
}

.btn-view {
  padding: 7px 12px;
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn-view:hover {
  background-color: #d39e00;
}
.mt-auto.d-flex.justify-content-between.align-items-center > * {
  margin-right: 12px;
  margin-top: 10px;
}

.mt-auto.d-flex.justify-content-between.align-items-center > *:last-child {
  margin-right: 0;
}
